@{
    ViewBag.Title = "login";
}

<h2>登入頁</h2>

<div>
    @using (Html.BeginForm())
    {
        <div>帳號 <input name="Account" type="text" value="" required="" /></div>
        <div>密碼<input name="Password" type="password" value="" required="" /></div>
        <input type="submit" value="送出">
        <span style="color:red">@ViewBag.Message</span>
    }
</div>