@model Sys.Models.WebArticle



<div id="banner-area" class="banner-area" style="background-image:url(/images/banner-bg.jpg)">
    <!-- Subpage title start -->
    <div class="banner-text text-right">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <ul class="breadcrumb">
                        <li>首頁</li>
                        <li>財產權宣告</li>

                    </ul>


                </div>
            </div>
        </div>
    </div><!-- Subpage title end -->
</div><!-- Banner area end -->

<section id="main-container" class="main-container">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

                <div class="sidebar sidebar-right">

                    <div class="widget">
                        <h2 class="widget-title"><i class="fa fa-folder-open-o">&nbsp;</i>財產權宣告</h2>

                    </div>

                    <!-- Categories end -->

                </div><!-- Sidebar end -->
            </div><!-- Sidebar Col end -->

            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

                <h2 class="page-title">智慧財產權宣告</h2>
                <hr class="botmargin-min">
                <!-- 內容開始 -->

                @Html.Raw(WebUtility.HtmlDecode(Model.Content)) @* @Html.Raw, 表示要不編碼直接輸出 *@


                @*<div class="title_div_h2" style="margin: 0px 0px 12px; padding: 0px; font-size: 24px; color: rgb(219, 81, 6); line-height: 27px; font-weight: bolder; font-family: 微軟正黑體, 'Microsoft JhengHei', Arial, Helvetica, sans-serif;">智慧財產權及免責條款宣告</div>

                    <h2 class="common_h2" id="theGo0" style="margin: 0px 0px 23px; padding: 0px; font-size: 1.3em; border-left-width: 5px; border-left-style: solid; border-left-color: rgb(220, 85, 5); line-height: 32px; color: rgb(219, 81, 6); height: 32px; text-indent: 8px; clear: both; font-family: 微軟正黑體, 'Microsoft JhengHei', Arial, Helvetica, sans-serif; background-color: rgb(242, 242, 242);">智慧財產權</h2>

                    <article class="more_left" style="margin: 0px; padding: 0px 0px 0px 14px; font-size: 12px; color: rgb(45, 41, 41); font-family: 微軟正黑體, 'Microsoft JhengHei', Arial, Helvetica, sans-serif; line-height: normal;">
                        <ul class="ul_kind1 word_size" style="margin: 0px; padding-right: 19px; padding-bottom: 20px; padding-left: 18px; font-size: 1.05em; list-style: none url(&quot;../images_tw/market_book/ul.gif&quot;);">
                            <li style="margin: 0px; padding: 0px; font-size: 12.6px; line-height: 1.5em;">1.本網站所使用之軟體或程式，網站上所有內容（包括但不限於著作、圖片、檔案、資訊、資料、網站架構、網站畫面的安排、網頁設計等），均由國際縱火調查人員協會一台灣分會(IAAI.TW)或其他權利人依法擁有其智慧財產權（包括但不限於商標權、專利權、著作權、營業秘密與專有技術等）。任何人不得逕自使用、修改、重製、公開播送、改作、散布、發行、公開發表、進行還原工程、解編或反向組譯。</li>
                            <li style="margin: 0px; padding: 0px; font-size: 12.6px; line-height: 1.5em;">2.若您欲引用或轉載前述軟體、程式或網站內容，必須依法取得<span style="color: rgb(45, 41, 41); font-family: 微軟正黑體, 'Microsoft JhengHei', Arial, Helvetica, sans-serif; font-size: 12.6px; line-height: 18.9px;">國際縱火調查人員協會一台灣分會(IAAI.TW)</span>或其他權利人的事前書面同意。尊重智慧財產權是您應盡的義務，如有違反，您應對<span style="color: rgb(45, 41, 41); font-family: 微軟正黑體, 'Microsoft JhengHei', Arial, Helvetica, sans-serif; font-size: 12.6px; line-height: 18.9px;">國際縱火調查人員協會一台灣分會(IAAI.TW)</span>負起損害賠償責任（包括但不限於訴訟費用及律師費用等）。</li>
                        </ul>
                    </article>

                    <h2 class="common_h2" id="theGo1" style="margin: 0px 0px 23px; padding: 0px; font-size: 1.3em; border-left-width: 5px; border-left-style: solid; border-left-color: rgb(220, 85, 5); line-height: 32px; color: rgb(219, 81, 6); height: 32px; text-indent: 8px; clear: both; font-family: 微軟正黑體, 'Microsoft JhengHei', Arial, Helvetica, sans-serif; background-color: rgb(242, 242, 242);">免責條款</h2>

                    <article class="terms_word1 more_left" style="margin: 0px; padding: 0px 0px 0px 14px; font-size: 12px; color: rgb(45, 41, 41); font-family: 微軟正黑體, 'Microsoft JhengHei', Arial, Helvetica, sans-serif; line-height: normal;">
                        <p class="word_size" style="margin: 0px 0px 24px; padding: 0px; font-size: 1.05em; line-height: 1.5em;">為方便與您連繫、完成交易、提供服務等，本網站將透過下列方式蒐集您的個人資料：</p>

                        <ul class="ul_kind1 word_size" style="margin: 0px; padding-right: 19px; padding-bottom: 20px; padding-left: 18px; font-size: 1.05em; list-style: none url(&quot;../images_tw/market_book/ul.gif&quot;);">
                            <li style="margin: 0px; padding: 0px; font-size: 12.6px; line-height: 1.5em;">1.本網站致力於維護本系統之穩定性及安全性，但如遭遇不可預期之天災人禍傷害，造成網站系統中斷或故障等現象，並因而造成您使用上的不便、資料喪失、錯誤、遭人篡改或其他經濟上損失等情形，敬請見諒，本網站不負任何賠償責任。</li>
                            <li style="margin: 0px; padding: 0px; font-size: 12.6px; line-height: 1.5em;">2.另本網站為方便您連結到其他相關網站，可能含有其他網站的連結，而這些被連結網站之資訊，都是由被連結網站提供及維護，本網站不擔保該其他網站內容的真實性、完整性、即時性或可信度。</li>
                        </ul>
                    </article>

                    <h2 class="common_h2" id="theGo2" style="margin: 0px 0px 23px; padding: 0px; font-size: 1.3em; border-left-width: 5px; border-left-style: solid; border-left-color: rgb(220, 85, 5); line-height: 32px; color: rgb(219, 81, 6); height: 32px; text-indent: 8px; clear: both; font-family: 微軟正黑體, 'Microsoft JhengHei', Arial, Helvetica, sans-serif; background-color: rgb(242, 242, 242);">準據法與管轄法院</h2>

                    <article class="terms_word1 more_left" style="margin: 0px; padding: 0px 0px 0px 14px; font-size: 12px; color: rgb(45, 41, 41); font-family: 微軟正黑體, 'Microsoft JhengHei', Arial, Helvetica, sans-serif; line-height: normal;">
                        <p class="word_size" style="margin: 0px 0px 24px; padding: 0px; font-size: 1.05em; line-height: 1.5em;">因本網站造成之爭訟均以中華民國法律為準據法，並以台灣台北地方法院為第一審管轄法院。</p>
                    </article>*@



                <!-- Content row 1 end -->
                <!-- 內容結束 -->

                <div class="tags-area clearfix">

                    <div class="share-items pull-right" style="display: none">
                        <ul class="post-social-icons unstyled">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div><!-- Content Col end -->


        </div><!-- Main row end -->

    </div><!-- Conatiner end -->
</section><!-- Main container end -->