@model Sys.Models.WebArticle

@{
    ViewBag.Title = "History";
}

<div id="banner-area" class="banner-area" style="background-image:url(/images/banner-bg.jpg)">
    <!-- Subpage title start -->
    <div class="banner-text text-right">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <ul class="breadcrumb">
                        <li>首頁</li>
                        <li>關於我們</li>
                        <li><a href="#">沿革</a></li>
                    </ul>


                </div>
            </div>
        </div>
    </div><!-- Subpage title end -->
</div><!-- Banner area end -->

<section id="main-container" class="main-container">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

                <div class="sidebar sidebar-right">

                    <div class="widget">
                        <h2 class="widget-title"><i class="fa fa-folder-open-o">&nbsp;</i>關於我們</h2>
                        <ul class="arrow nav nav-tabs nav-stacked">
                            <li><a href="/Article/About">關於我們</a></li>
                            <li><a href="/Article/Organization">組織架構</a></li>
                            <li class="active"><a href="/Article/history">沿革</a></li>
                            <li><a href="/Article/Member">配證會員</a></li>
                            <li><a href="/Expert">專家介紹</a></li>
                        </ul>
                    </div>

                    <!-- Categories end -->

                </div><!-- Sidebar end -->
            </div><!-- Sidebar Col end -->

            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

                <h2 class="page-title">沿革</h2>
                <hr class="botmargin-min">
                <!-- 內容開始 -->


                @Html.Raw(WebUtility.HtmlDecode(Model.Content)) @* @Html.Raw, 表示要不編碼直接輸出 *@


                @*<p><span style="font-size:22px;"><span style="color:#FFA500;"><a id="緣起" name="緣起"></a>緣起</span></span></p>

                    <p>
                        刑事訴訟法自2004年改版後，採行當事人進行主義。法院以聽審為主，不再主動調查，兩造當事人必須負責提證。<br />
                        但該法施行數年後，卻呈現了災害事故的當事人受到社會資源與實質上的不平等待遇（尤其是火災事故）<br />
                        ，主要是因為刑法明訂失火、放火與其他多種公共危險罪罪刑，使得事故發生時，當事人馬上面臨刑責追訴的問題。<br />
                        但是刑事罪刑的控方可指揮調查辦案，掌握刑事司法多種公器，必要時還可委託公部門協助鑑定。<br />
                        而訴方只能自力救濟，懷疑遭受冤屈時，無法尋求公部門協助，甚至「中央警察大學刑事鑑識科學委員會」<br />
                        依照法令規定也只能受理刑事案件的公部門委託，因之，當事人在訴訟過程中面臨了求助無門的困境。
                    </p>

                    <p>
                        監察院第2508期公報「監察院（93）院台內字第0931900794號」，於2004年對內政部、消防署、警政署和多個地方<br />
                        政府同時提出糾正案，指出火災調查與鑑定影響責任風險分配的公正性。因之，2011年內政部科學專案研究報告（PG10007-0025）<br />
                        即提出輔導成立「優良第三公正機構」的迫切性。
                    </p>

                    <p>
                        國際組織「國際縱火調查學會」，The International Association of Arson Investigators（以下簡稱IAAI）<br />
                        始於1949年由美國、加拿大的相關專業人士於美國普渡大學（Purdue University, Indiana, U.S.A.）發起組成，<br />
                        係屬於事故調查的非營利、專業性組織。
                    </p>

                    <p>
                        主要宗旨為結合公、私部門的力量，共同防制縱火與相關之犯罪，且所有會員都必須遵從組織所頒布的倫理規範。<br />
                        迄今，IAAI已經發展為74分會和5,000個會員的龐大組織。
                    </p>

                    <p>
                        本會之發起主要是緣起於上述國內、外現況，擬於綜合考量本土性問題和法令規定後，<br />
                        遵循「人民團體法」和「國際縱火調查學會分會組織章程與施行細則」之規定制訂本學會之組織章程與實施要點。
                    </p>

                    <p>&nbsp;</p>

                    <p><span style="font-size:22px;"><span style="color:#FFA500;"><a id="目標" name="目標"></a>目標</span></span></p>

                    <p>
                        IAAI和所有的分會分享以下共通性的目標和守則：<br />
                        1.結合公、私部門的力量，共同防制縱火與相關之犯罪。<br />
                        2.提供相關專業人士技術交流與發展。<br />
                        3.為所有會員導入高度專業的標準，持續性的協助並維持司法的有效運作。
                    </p>

                    <p>&nbsp;</p>

                    <p><a id="會員倫理守則" name="會員倫理守則"><span style="font-size:22px;"><span style="color:#FFA500;">會員倫理守則&nbsp;</span></span><span style="color:#FFFFFF;"><span style="background-color:#FFA500;">Code of Ethics</span></span></a></p>

                    <p>
                        I will conduct both my personal and official life so as to inspire the confidence of the public.<br />
                        於公於私我會敦品勵行、自重自愛，以喚起大眾的信賴。<br />
                        I will not use my profession and my position of trust for personal advantage or profit.<br />
                        我不會利用職務與職位之便，去謀取個人的利益。<br />
                        I will regard my fellow investigators with the same standards as a hold for myself.<br />
                        我會秉持相同的標準看待其他調查夥伴們，將心比心、視人如己。<br />
                        I will never betray a confidence nor otherwise jeopardize their investigation.<br />
                        我絕不背叛組織的信念，也絕不惡意妨礙他人的調查。<br />
                        I will regard it my duty to know my work thoroughly. It is my further duty to avail myself of every opportunity&nbsp;<br />
                        to learn more about my profession.<br />
                        我會體悟徹底了解自己的工作是我的職責，善加把握每個機會學習更多的專業知能，是我更進一步的職責。<br />
                        I will avoid alliances with those whose goals are inconsistent with an honest and unbiased nvestigation.<br />
                        我不會與那些缺乏誠信及公正立場的調查員相互結盟。<br />
                        I will make no claim to professional qualifications which I do not possess.<br />
                        我不會誆稱我持有實際並未取得的專業證照。<br />
                        I will share all publicity equally with my fellow investigators, whether such publicity is favorable or unfavorable.<br />
                        我會與調查夥伴們共同承受所有外界的評價，不論評價是正面或負面的。<br />
                        I will be loyal to my superiors, to my subordinates, and to theorganization I represent.<br />
                        我會忠於我的上級、我的下屬，以及我所代表的組織。<br />
                        I will bear in mind always that I am a truth-seeker not a case maker; that it is more important to protect the innocent&nbsp;<br />
                        than to convict the guilty.<br />
                        我會謹記在心，我是一個事實真相的追查者，而非犯罪事例的製造者；亦即保護無辜比證明有罪更加重要。
                    </p>

                    <p>&nbsp;</p>

                    <p><img alt="" src="/upfiles/images/%e6%a2%85%e6%a0%a1%e9%95%b7%e6%8e%88%e6%97%97.png" style="width: 800px; height: 531px;" /></p>*@



                <!-- Content row 1 end -->
                <!-- 內容結束 -->

                <div class="tags-area clearfix">

                    <div class="share-items pull-right" style="display: none">
                        <ul class="post-social-icons unstyled">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div><!-- Content Col end -->


        </div><!-- Main row end -->

    </div><!-- Conatiner end -->
</section><!-- Main container end -->