@model Sys.Models.WebArticle

@{
    ViewBag.Title = "Organization";
}

<div id="banner-area" class="banner-area" style="background-image:url(/images/banner-bg.jpg)">
    <!-- Subpage title start -->
    <div class="banner-text text-right">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <ul class="breadcrumb">
                        <li>首頁</li>
                        <li>關於我們</li>
                        <li><a href="#">組織架構</a></li>
                    </ul>


                </div>
            </div>
        </div>
    </div><!-- Subpage title end -->
</div><!-- Banner area end -->

<section id="main-container" class="main-container">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

                <div class="sidebar sidebar-right">

                    <div class="widget">
                        <h2 class="widget-title"><i class="fa fa-folder-open-o">&nbsp;</i>關於我們</h2>
                        <ul class="arrow nav nav-tabs nav-stacked">
                            <li><a href="/Article/About">關於我們</a></li>
                            <li class="active"><a href="/Article/Organization">組織架構</a></li>
                            <li><a href="/Article/history">沿革</a></li>
                            <li><a href="/Article/Member">配證會員</a></li>
                            <li><a href="/Expert">專家介紹</a></li>
                        </ul>
                    </div>

                    <!-- Categories end -->

                </div><!-- Sidebar end -->
            </div><!-- Sidebar Col end -->

            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

                <h2 class="page-title">組織架構</h2>
                <hr class="botmargin-min">
                <!-- 內容開始 -->



                @Html.Raw(WebUtility.HtmlDecode(Model.Content)) @* @Html.Raw, 表示要不編碼直接輸出 *@




                @*<p><img alt="" src="/UpFiles/images/network20.png" style="width: 800px; height: 818px;" /></p>

                    <p>&nbsp;</p>

                    <p><span style="font-size:18px;">第三屆理監事&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;108.09.07</span></p>

                    <table border="2" cellpadding="1" cellspacing="1" style="width:600px;">
                        <thead>
                            <tr>
                                <th scope="col" style="text-align: center;"><span style="font-size:18px;"><span style="font-weight: bold; line-height: 20.8px; text-align: center;">職別&nbsp;</span></span></th>
                                <th scope="col" style="text-align: center;"><span style="font-size:18px;"><span style="font-weight: bold; line-height: 20.8px; text-align: center;">姓名</span></span></th>
                                <th scope="col" style="text-align: center;"><span style="font-size:18px;"><span style="font-weight: bold; line-height: 20.8px; text-align: center;">性別</span></span></th>
                                <th scope="col" style="text-align: center;"><span style="font-size:18px;"><span style="font-weight: bold; line-height: 20.8px; text-align: center;">職務(經歷)</span></span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span style="font-size:18px;"><span style="line-height: 20.8px; text-align: center;">理事長</span></span></td>
                                <td><span style="font-size:18px;"><span style="line-height: 20.8px; text-align: center;">陳金蓮</span></span></td>
                                <td><span style="font-size:18px;">女</span></td>
                                <td><span style="font-size:18px;"><span style="line-height: 20.8px; text-align: center;">中央警察大學 &nbsp;消防學系教授</span></span></td>
                            </tr>
                            <tr>
                                <td><span style="font-size: 18px; text-align: center;">常務理事</span></td>
                                <td><span style="font-size: 18px; text-align: center;">黃敬德</span></td>
                                <td><span style="font-size: 18px; text-align: center;">男</span></td>
                                <td><span style="font-size: 18px; text-align: center;">中央警察大學 &nbsp;消防學系 兼任 副教授</span></td>
                            </tr>
                            <tr>
                                <td><span style="font-size:18px;"><span style="line-height: 20.8px; text-align: center;">常務理事</span></span></td>
                                <td><span style="font-size: 18px; text-align: center;">李明峯</span></td>
                                <td><span style="font-size:18px;"><span style="line-height: 20.8px; text-align: center;">男</span></span></td>
                                <td><span style="font-size: 18px; text-align: center;">台南市政府消防局 &nbsp;局長</span></td>
                            </tr>
                            <tr>
                                <td><span style="font-size: 18px; text-align: center;">理事</span></td>
                                <td><span style="font-size: 18px; text-align: center;">王宗展</span></td>
                                <td><span style="font-size: 18px; text-align: center;">男</span></td>
                                <td><span style="font-size: 18px; text-align: center;">高雄市政府消防局 &nbsp;副局長</span></td>
                            </tr>
                            <tr>
                                <td><span style="font-size: 18px; text-align: center;">理事</span></td>
                                <td><span style="font-size: 18px; text-align: center;">李承龍</span></td>
                                <td><span style="font-size: 18px; text-align: center;">男</span></td>
                                <td><span style="font-size: 18px; text-align: center;">臺灣警察專科學校 &nbsp;刑事警察科助理教授</span></td>
                            </tr>
                            <tr>
                                <td><span style="font-size:18px;"><span style="line-height: 20.8px; text-align: center;">理事</span></span></td>
                                <td><span style="font-size: 18px; text-align: center;">林金穗</span></td>
                                <td><span style="font-size:18px;"><span style="line-height: 20.8px; text-align: center;">男</span></span></td>
                                <td><span style="font-size: 18px; text-align: center;">富邦產物保險(股)公司 &nbsp;副總經理</span></td>
                            </tr>
                            <tr>
                                <td><span style="font-size: 18px; text-align: center;">理事</span></td>
                                <td><span style="font-size: 18px;">黃文魁</span></td>
                                <td><span style="font-size: 18px; text-align: center;">男</span></td>
                                <td><span style="font-size: 18px;">前 台東縣政府消防局 副局長</span></td>
                            </tr>
                            <tr>
                                <td><span style="font-size:18px;"><span style="line-height: 20.8px; text-align: center;">理事</span></span></td>
                                <td><span style="font-size:18px;"><span style="line-height: 20.8px; text-align: center;">楊宗林</span></span></td>
                                <td><span style="font-size:18px;"><span style="line-height: 20.8px; text-align: center;">男</span></span></td>
                                <td><span style="font-size:18px;"><span style="line-height: 20.8px; text-align: center;">台南市政府消防局 &nbsp;副局長</span></span></td>
                            </tr>
                            <tr>
                                <td><span style="font-size: 18px; text-align: center;">理事</span></td>
                                <td><span style="font-size:18px;">王金山</span></td>
                                <td><span style="font-size:18px;">男</span></td>
                                <td><span style="font-size: 18px; text-align: center;">台南市政府消防局 &nbsp;副大隊長</span></td>
                            </tr>
                            <tr>
                                <td><span style="font-size:18px;"><span style="line-height: 20.8px; text-align: center;">常務監事</span></span></td>
                                <td><span style="font-size:18px;"><span style="line-height: 20.8px; text-align: center;">曾順正</span></span></td>
                                <td><span style="font-size:18px;"><span style="line-height: 20.8px; text-align: center;">男</span></span></td>
                                <td><span style="font-size:18px;"><span style="line-height: 20.8px; text-align: center;">前 中華民國消防設備師公會全國聯合會理事長</span></span></td>
                            </tr>
                            <tr>
                                <td><span style="font-size: 18px; text-align: center;">監事</span></td>
                                <td><span style="font-size: 18px;">潘日南</span></td>
                                <td><span style="font-size: 18px; text-align: center;">男</span></td>
                                <td><span style="font-size: 18px;">臺灣警察專科學校 消防安全科副教授</span></td>
                            </tr>
                            <tr>
                                <td><span style="font-size: 18px; text-align: center;">監事</span></td>
                                <td><span style="font-size: 18px; text-align: center;">謝松善</span></td>
                                <td><span style="font-size: 18px; text-align: center;">男</span></td>
                                <td><span style="font-size: 18px; text-align: center;">中央警察大學 &nbsp;兼任講師</span></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td><span style="font-size:18px;">(以下空白)</span></td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="member_box">&nbsp;</div>

                    <p>&nbsp;</p>

                    <p><span style="color:#FF8C00;"><span style="font-size:16px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;國際縱火調查人員協會章程</span></span></p>

                    <table align="left" border="0" cellpadding="0" cellspacing="0" class="rule_table">
                        <tbody>
                            <tr>
                                <td colspan="3" style="text-align: right;">
                                    <p><span style="text-align: right;">中華民國108年9月07日第二屆第五次會員大會修訂</span></p>

                                    <p>中華民國106年7月22日第二屆第二次會員大會修訂</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="150">第一章 &nbsp; 總則</td>
                                <td width="80">
                                    <p>&nbsp;</p>

                                    <p>第 一 條</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td>本會名稱為國際縱火調查人員協會臺灣分會(International Association of Arson Investigators Taiwan Chapter，以下簡稱本會）。</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <p>&nbsp;</p>

                                    <p>第 二 條</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td>本會為依法設立、非以營利為目的之社會團體，致力成為臺灣的火災調查技術發展資訊中心，提升火災調查人員之專業能力，精進火災調查人員研究技術，提升火災預防之成效。結合各領域從事火災調查人員，團結一致謀求共同福利、關懷社會並維護社會公理正義為宗旨。</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>第 三 條</td>
                                <td>本會以全國行政區域為組織區域。</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <p>&nbsp;</p>

                                    <p>第 四 條</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td>本會會址設於主管機關所在地區，並得報經主管機關核准設立分支機構，前項分支機構組織規則由理事會擬訂，報請主管機關核准後行之。會址及分支機構之地址於設置及變更時應函報主管機關核備。</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <p>&nbsp;</p>

                                    <p>第 五 條</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td>
                                    <p>&nbsp;</p>

                                    <p>
                                        本會之任務如下：<br />
                                        1.從事火災調查之科技與學術研究，提昇我國火災調查科技研究水準，並落實研究成果。<br />
                                        2.舉辦相關學術研討會及活動，提供技術資訊與發展之交流平台，參與並推動火災調查、預防及研究等之國內外交流活動。<br />
                                        3.發行及出版火災調查、預防及研究等相關科技研究之學術刊物、書籍及媒體等。<br />
                                        4.從事火災原因研究、危險因子診斷及災害預防等技術與系統之研發、相關資料庫之建立、及推廣和教育。<br />
                                        5.提昇火災預防及調查專業人員之技術，並輔導會員取得國際證照。<br />
                                        6.維護會員合法權益、端正會員職業道德與倫理、促進會員間之合作。<br />
                                        7.關懷社會並維護社會公理正義。
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <p>&nbsp;</p>

                                    <p>第 六 條</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td>本會之主管機關為內政部，目的事業主管機關為內政部消防署。本會之目的事業應受各該事業主管機關之指導、監督。</td>
                            </tr>
                            <tr>
                                <td width="150">&nbsp;</td>
                                <td width="80">&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="150">
                                    <p>第二章 &nbsp; 會員</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td width="80">
                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>第 七 條</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td>
                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>本會會員種類如下：</p>

                                    <p>
                                        1.正式會員：凡贊同本會宗旨，年滿二十歲，從事火災與爆炸預防及研究等相關業務、保險、司法、專業技術等人員，或具上述相關學術研究一年以上之個人，或具有國際縱火調查人員協會正式會員會籍，並經理事會核准通過者為本會正式會員。<br />
                                        2.準會員：凡贊同本會宗旨之個人，或具有國際縱火調查人員協會準會員會籍，並經理事會核准通過者為本會準會員。<br />
                                        3.榮譽永久會員：榮譽永久會員享有正式會員之全部權利和特權，並無需繳納會費。本會得頒授此榮譽獎項予任何正式會員，但每年僅限頒授一位。具國際縱火調查人員協會榮譽永久會員會籍，並經理事會核准通過者得為本會榮譽永久會員。<br />
                                        4.榮譽會員：具有下列條件之一者，經理事會二人以上提名，並經理事會通過聘任之。榮譽會員無需繳納會費，聘任期限同理事會任期。<br />
                                        (一)對本會有重大貢獻或對火災與爆炸預防及研究有重大傑出成就者。<br />
                                        (二)在火災與爆炸預防及研究等相關領域有崇高地位者。<br />
                                        5.團體會員：凡贊同本會宗旨之機構、公司、企業，以及其他組織團體，經理事會核准通過者得成為團體會員。團體會員推派代表一人，以行使團體會員權利。<br />
                                        6.贊助會員：凡贊同本會宗旨之機構、公司、企業，以及其他組織團體，經理事會核准通過者得成為贊助會員。贊助會員推派代表一人，以行使贊助會員權利。<br />
                                        7.學生會員：具學生身份的準會員，並經理事會核准通過者為本會學生會員。此學生身份定義為二：一是修習有關火災與爆炸預防及研究、抑制縱火或司法學程的全職學生，另一則是政府認可的中學或大專院校以上的全職學生。
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <p>&nbsp;</p>

                                    <p>第 八 條</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td>
                                    正式會員、榮譽永久會員有表決權、選舉權、被選舉權與罷免權。<br />
                                    團體會員有表決權、選舉權與罷免權，每一代表為一權。<br />
                                    惟準會員、榮譽會員、贊助會員、學生會員無第一項權利。
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <p>&nbsp;</p>

                                    <p>第 九 條</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td>
                                    贊助會員及團體會員依法得改派會員代表，原派之會員代表，於新會員代表派定後，喪失其會員代表資格。<br />
                                    本會應於召開會員大會一個月前，通知各贊助會員及團體會員在召開大會二十日前聲明其原派之會員代表是否改派，逾期不聲明，視為續派。<br />
                                    前項通知及聲明均應以書面為之。
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <p>第 十 條</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td>
                                    本會會員應盡之義務<br />
                                    1.遵守本會章程及執行本會決議案。<br />
                                    2.繳納會費(除榮譽永久會員、榮譽會員及學生會員外)。<br />
                                    3.擔任本會所選任之職務或委派之任務。
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>第十一條</td>
                                <td>會員有違反法令，章程或不遵守會員大會決議時或言行損及本會聲譽者。得經理事會決議，予以警告或停權處分，其危害團體情節重大者，得經會員大會決議予以除名。</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td style="vertical-align: top;">
                                    <p>第十二條</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td>
                                    <p>
                                        會員如不依章程規定繳納會費者，應提送經理事會決議，依下列程序處分之：<br />
                                        1.勸告：欠繳會費滿三個月者。
                                    </p>

                                    <p>2.停權：欠繳會費滿六個月，經勸告仍不履行者，不得參加各種會議、當選為理事、監事及享受本會一切權益；已當選為理事、監事者，應予解職。</p>

                                    <p>3.出會：會員經勸告，停權後滿三年仍未繳納會費(不包含停權期間)，視同出會。</p>

                                    <p>4.有關認同本會理念加入之國際會員，因設籍國外，應於新入會時繳交入會費，及第一年常年年費，之後不催繳年費，若有繳交年費者以捐款方式開立收據。</p>

                                    <p>&nbsp;</p>

                                    <p>會員經勸告，停權後滿三年仍未繳納會費(不包含停權期間)，視同出會。</p>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <p>&nbsp;</p>

                                    <p>第十三條</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td>
                                    <p>會員喪失會員資格或經會員大會決議除名者，即為出會。任何會員於收到出會通知後三十天內，均有權利請求上訴。</p>

                                    <p>前項已出會或經除名者，若欲再入會，依新會員申請入會方式，重新辦理入會審查。</p>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>第十四條</td>
                                <td>會員得以書面敘明理由向本會聲明退會。</td>
                            </tr>
                            <tr>
                                <td width="150">&nbsp;</td>
                                <td width="80">&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="150">
                                    <p>第三章 &nbsp; 組織及職權</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td width="80">
                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>第十五條</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td>
                                    本會以會員大會為最高權力機構。<br />
                                    會員人數超過300人以上時得分區比例選出會員代表，再召開會員代表大會，行使會員大會職權。<br />
                                    會員代表任期3年，其各名額及選舉辦法由理事會擬訂，報請主管機關核備後行之。
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>第十六條</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td>
                                    會員大會之職權如下：<br />
                                    1. 章程之變更。<br />
                                    2. 議決訂定理事、監事選舉與罷免辦法。<br />
                                    3. 選舉或罷免理事、監事。<br />
                                    4. 議決入會費、常年會費、事業費及會員捐款之金額及方式。<br />
                                    5. 議決年度工作計畫、報告及預算、決算。<br />
                                    6. 議決會員之除名處分。<br />
                                    7. 議決財產之處分。<br />
                                    8. 議決本會之解散。<br />
                                    9. 議決有關會員權利義務之其他重大事項。<br />
                                    前項第九款重大事項之範圍由理事會定之。
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <p>&nbsp;</p>

                                    <p>第十七條</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td>
                                    本會置理事九人、監事三人，由會員選舉之，分別成立理事會、監事會。<br />
                                    選舉前項理事、監事時，依計票情形得同時選出候補理事二人，候補監事一人，遇理事、監事出缺時，分別依序遞補之。<br />
                                    本會當屆理事會得提出下屆理事、監事候選人參考名單。<br />
                                    理事、監事得採用通訊選舉，但不得連續辦理。通訊選舉辦法由理事會通過，報請主管機關核備後行之。
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <p>&nbsp;</p>

                                    <p>第十八條</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td>
                                    理事會之職責如下：<br />
                                    1. 審定會員之資格。<br />
                                    2. 議決會員之處分。<br />
                                    3. 議決各分支機構之設立、合併或裁撤及工作細則。<br />
                                    4. 選舉或罷免常務理事、理事長。<br />
                                    5. 議決理事、常務理事或理事長之辭職。<br />
                                    6. 聘任或解聘工作人員。<br />
                                    7. 擬訂年度工作計畫、報告及預算、決算並追蹤及檢討其執行進度及成果。<br />
                                    8. 其他依職責應辦事項。
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <p>&nbsp;</p>

                                    <p>第十九條</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td>
                                    理事會置常務理事三人，由理事互選之，並由理事就常務理事中選舉一人為理事長，理事長就常務理事中指定一人為執行副理事長，一人為第二副理事長。<br />
                                    理事長對內綜理督導會務，對外代表本會，並擔任會員大會、理事會主席。<br />
                                    理事長因事不能執行職務時，應指定執行副理事長代理之，執行副理事長不能執行職務時，應由第二副理事長代理之。<br />
                                    理事長、常務理事出缺時，應自出缺之日起一個月內補選之。
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <p>第二十條</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td>
                                    監事會之職責如下：<br />
                                    1. 監察理事會工作之執行。<br />
                                    2. 審核年度預決算，向理事會提出書面審核意見，並報大會通過或追認。<br />
                                    3. 選舉或罷免常務監事。<br />
                                    4. 議決監事或常務監事之辭職。<br />
                                    5. 其他依職責應監察事項。
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <p>&nbsp;</p>

                                    <p>第二十一條</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td>
                                    監事會置常務監事一人，由監事以無記名單記法互選之。<br />
                                    常務監事監察日常會務，並擔任監事會主席。<br />
                                    常務監事因事不能執行職務時，應指定監事一人代理之，未指定或不能指定時，由監事互推一人代理之。<br />
                                    常務監事出缺時，應自出缺之日起一個月內補選之。
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <p>第二十二條</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td>
                                    理事、監事均為無給職。任期為三年。<br />
                                    連選得連任。理事長之任期為三年，並得連選連任一次。<br />
                                    理事、監事之任期自召開本屆第一次理事會之日起計算。
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>第二十三條</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td>
                                    理事、監事有下列情事之一者，應即解任：<br />
                                    1. 喪失會員資格者。<br />
                                    2. 因故辭職經理事會或監事會決議通過者。<br />
                                    3. 依人民團體法之規定解職、罷免或撤免者。<br />
                                    4. 受停權處分期間逾任期二分之一者。
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <p>&nbsp;</p>

                                    <p>第二十四條</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td>本會置秘書長一人、財務長一人，由理事長提名，經理事會同意聘任之；解任時亦同。其他工作人員若干人，其執掌及職稱另訂之，並應公開公平考選任用。</td>
                            </tr>
                            <tr>
                                <td>
                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td>
                                    <p>&nbsp;</p>

                                    <p>第二十五條</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td>
                                    理事會於下列情況時，有權力解除工作人員職務。<br />
                                    1. 品行或行為足以敗壞名譽，有損本會或國際縱火調查人員協會之名譽者。<br />
                                    2. 本會組織的工作人員有正當理由並以書面遞交辭呈者。<br />
                                    3. 任何工作人員於收到免職通知後三十天內，均有權利請求上訴。
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <p>&nbsp;</p>

                                    <p>第二十六條</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td>
                                    本會得設各種委員會、小組或其他內部作業組織，其組織規則經理事會通過後施行，變更時亦同。<br />
                                    各種委員會之主席由理事長提名經理事會同意後任命之，由各種委員會(小組)主席自行召集委員。主席、委員之任期與理事長任期一致。
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <p>&nbsp;</p>

                                    <p>第二十七條</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td>本會得聘請榮譽顧問、顧問若干人，由理事長提名經理事會通過後聘任之，其聘期與理事長之任期同。</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <p>&nbsp;</p>

                                    <p>第二十八條</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td>秘書長應保管本會之所有文件、會議記錄，並維護整理會員名冊、章程和其他重要資料。</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <p>&nbsp;</p>

                                    <p>第二十九條</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td>財務長是本會的資金保管人和唯一銀行連絡人，並在提昇本會之福祉與宗旨的目的下，依循理事會的授權，開立支票支付各項經費支出。</td>
                            </tr>
                            <tr>
                                <td width="150">&nbsp;</td>
                                <td width="80">&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="150">
                                    <p>第四章 &nbsp; 會議</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td width="80">
                                    <p>&nbsp;</p>

                                    <p>第三十條</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td>
                                    會員大會分下列二種會議，均經理事會之決議，由理事長召集之：<br />
                                    1. 年度會議：由理事會商定時間和地點後舉行，並於年度會議舉辦之十五天前，以書面通知所有會員。年度會議中進行選舉及其他業務報告，會議中任何未特定規範的問題，主席的決定應受國際縱火調查人員協會章程的約束。<br />
                                    2. 臨時會議：理事會認定必要，或經會員五分之一以上請求，或監事會函請召集時召集之。臨時會議由理事會商定時間和地點後召開舉行，並於會議七天前，通知所有會員。
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <p>&nbsp;</p>

                                    <p>第三十一條</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td>會員不能親自出席會員大會時，得以書面委託其他會員代理，每一會員以代理一人為限。</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <p>&nbsp;</p>

                                    <p>第三十二條</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td>
                                    會員大會之決議，以會員代表過半數之出席，出席會員代表過半數之同意行之。但下列各款事項之決議，以出席代表三分之二以上之同意行之。<br />
                                    1. 章程之變更。<br />
                                    2. 會員之除名。<br />
                                    3. 理事、監事之罷免。<br />
                                    4. 財產之處分。<br />
                                    5. 本會之解散。<br />
                                    6. 其他與會員權利義務有關之重大事項。<br />
                                    本會辦理法人登記後，章程之變更以出席人數四分之三以上之同意或全體會員三分之二以上書面之同意行之。<br />
                                    本會之解散，得隨時以全體會員三分之二以上之可決解散之。
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <p>&nbsp;</p>

                                    <p>第三十三條</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td>
                                    理事會、監事會應分別每六個月舉行一次會議，必要時得召開聯席會議或臨時會議。<br />
                                    前項會議召集時除臨時會議外，應於七日前以書面通知，會議之決議，各以理事、監事過半數之出席，出席人數較多數之同意行之。
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <p>&nbsp;</p>

                                    <p>第三十四條</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td>理事、監事應親自出席理事、監事會議，不得委託他人代理；連續二次無故缺席者，視同辭職，由候補理事、候補監事依次遞補。</td>
                            </tr>
                            <tr>
                                <td width="150">&nbsp;</td>
                                <td width="80">&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="150">
                                    <p>第五章 &nbsp; 經費及會計</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td width="80">
                                    <p>&nbsp;</p>

                                    <p>第三十五條</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td>
                                    本會經費來源如下：<br />
                                    1. 入會費：正式會員、準會員新台幣(以下同)參仟元，團體會員貳萬元，於入會時一次繳納之。<br />
                                    2. 常年會費：正式會員貳仟貳佰伍拾元，準會員壹仟伍佰元，贊助會員及團體會員壹萬貳仟元，每年繳納一次。<br />
                                    3. 事業費。<br />
                                    4. 捐款收入。<br />
                                    5. 委託收益。<br />
                                    6. 基金及其孳息。<br />
                                    7. 補助費。<br />
                                    8. 其他收入。
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <p>&nbsp;</p>

                                    <p>第三十六條</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td>本會會計年度以曆年為準，自每年一月一日起至同年十二月三十一日止。</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <p>&nbsp;</p>

                                    <p>第三十七條</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td>本會每年於會計年度開始前二個月由理事會編造年度工作計畫、收支預算，提會員大會通過（會員大會因故未能如期召開者，先提理監事聯席會議通過），於會計年度開始前報主管機關核備。並於會計年度終了後二個月內由理事會編造年度工作報告、收支決算表、現金出納表、資產負債表、財產目錄及基金收支表，送監事會審核後，造具審核意見書送還理事會，提會員大會通過，於三月底前報主管機關核備（會員大會未能如期召開者，先報主管機關）。</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <p>&nbsp;</p>

                                    <p>第三十八條</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td>本會如解散或撤銷時，剩餘財產歸屬所在地之地方自治團體或主管機關指定之機關團體所有，不得以任何方式歸屬於任何個人或私人企業所有。</td>
                            </tr>
                            <tr>
                                <td width="150">
                                    <p>第六章 &nbsp;　附　則</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td width="80">
                                    <p>&nbsp;</p>

                                    <p>第三十九條</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td>本章程未規定事項，悉依有關法令規定辦理。</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <p>&nbsp;</p>

                                    <p>第四十條</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td>本章程經會員大會通過，報請主管機關核備後實施，變更時亦同。</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <p>&nbsp;</p>

                                    <p>第四十一條</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>
                                </td>
                                <td>
                                    <p>
                                        本章程於本會102年7月14日第一屆第一次會員大會制訂。<br />
                                        經內政部103年4月14日台內團字第1030138539號函准予備查。<br />
                                        本章程於本會103年5月31日第一屆第二次會員大會修訂。<br />
                                        本章程於本會106年7月22日第二屆第二次會員大會修訂。
                                    </p>

                                    <p>本章程於本會108年9月7日第二屆第五次會員大會修訂。</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>*@




                <!-- Content row 1 end -->
                <!-- 內容結束 -->

                <div class="tags-area clearfix">

                    <div class="share-items pull-right" style="display: none">
                        <ul class="post-social-icons unstyled">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div><!-- Content Col end -->


        </div><!-- Main row end -->

    </div><!-- Conatiner end -->
</section><!-- Main container end -->
